body {
    margin: 0 100px 0;
    height: 2000px;
    background: linear-gradient(110deg, #f5f7fa, rgb(11, 12, 12))
}

p {
    font-family: "Public Sans";
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "quote"
        "header"
        "social"
        "description";
    grid-template-rows: 1fr 2fr 1fr 4fr;
}
