.quote {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
}

.inner-quote {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0px;
    text-shadow: 10px 5px 10px rgba(33, 33, 33, 0.4);
}
